{% extends "layout.html" %}

{% block content %}

<script src="https://cdn.auth0.com/js/lock/10.23.1/lock.min.js"></script>

<div id="root" style="width: 280px; margin: 40px auto; padding: 10px;">

  <script>
    var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}', {
        auth: {
          redirectUrl: '{{env.AUTH0_CALLBACK_URL}}',
          responseType: 'code',
          params: { scope: 'openid profile' }
        },
        closable: false,
        autofocus: true
      }
    );
    lock.show();
  </script>
</div>

{% endblock %}
